b {
    font-weight: bold;
}

.jumbotron {
    display: flex;
    justify-content: center;
}

.paginate nav div:first-child {
    display: none;
}

.paginate nav div:nth-child(2) a:hover {
    text-decoration: none;
}

.paginate nav div:nth-child(2) svg {
    width: 30px;
}

.category__item,
.article__item {
    color: #4a4a4a;
}

.category__item:hover,
.article__item:hover {
    text-decoration: none;
    color: #000;
}

.category__item-badge {
    color: white;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control {
    max-width: 500px;
}